import { merge } from 'webpack-merge';
import Dotenv from 'dotenv-webpack';
import * as config from './webpack.config';

const prodConfig = {
    mode: "development",
    plugins: [
        new Dotenv ({
            path: `./environment/.env.prod`
        })
    ]
}

module.exports = merge(config, prodConfig);